@{
    ViewData["Title"] = "Criar Contato";
}

<div class="text-center">
    <h3 style="margin-top: 100px;">Realmente deseja apagar o contato (Larry)?</h3>

    <div style="display: flex; margin-top: 50px; gap: 20px; justify-content: center;">
        <a class="btn btn-success" role="button" asp-controller="Contatos" asp-action="Apagar">Confirmar</a>
        <a class="btn btn-danger" role="button" asp-controller: Contatos; asp-action="Index">Cancelar</a>
    </div>
</div>